.footer {      
    width: 100%;  
    background-color: gray;  
    color: white;  
    text-align: center;
    margin-top: 50px; 
    box-sizing: border-box;
} 

.footerQuote {
    max-width: 66%;
    margin-left:17%;
    display: flex;
    justify-content: center;
    align-items: center;
}