.mainContentContainer {
    display: flex;
    width: 66%;
    min-width: 500px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 50px;
    padding-top: 2em;
}